/* ---------- MOBILE OPTIMIZATION ---------- */
@media (max-width: 768px) {

  #poll h1 {
    font-size: 2.2rem;
  }

  .poll-btn {
    font-size: 1.2rem;
    padding: 12px 30px;
  }

  .moon {
    width: 80px;
    height: 80px;
    top: 30px;
    right: 30px;
  }

  .card {
    width: 92%;
    padding: 25px;
    bottom: 30px;
  }

  .card h1 {
    font-size: 2rem;
  }

  .card p {
    font-size: 1.1rem;
    line-height: 1.6;
    min-height: 220px;
  }

  .cat {
    font-size: 36px;
  }
}
